html,
body {
      background-color: #000;
      width:100%;
      height:100%;
      color: white;
      margin: 0;
      overflow: hidden;
}

#floater { float: left; height: 50%; margin-bottom: -300px }

#contentlayer {
    clear: both;
    position: relative;
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    z-index: 10;
    /* background: grey; */
}

#videolayer {
    width: 1000px;
    height: 600px;
    margin:0 auto;
    position: relative;
    top: -600px; 
    z-index: 20;
    /* background: blue; */
}

#video, #novideo {
         
         width: 100%;
         height: 100%;
         /* float: left; */
         padding: 0;
         margin: 0;
         min-width: 545px;
         min-height: 315px
        }

#video {  /* margin: 142px 220px */ }

#video object { margin: 142px 220px; padding: 0; width: 545px}

.target > * { display: none }

/* carousel / slider */

#thumbdrawer {
    position: absolute; 
    z-index: 30;
    bottom: -100px; 
    width: 100%;
    height: 100px;
    min-height: 100px;
    background: #333; }

#thumbtab {
    position: relative;
    top: -25px; 
    margin: 0 auto;
    padding: 4px 0;
    background: #333;
    width: 200px;
    height: 25px;
    text-align: center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; /* future proofing */
    -khtml-border-radius: 5px; /* for old Konqueror browsers */}

#thumbs {
    position: relative;
    top: -40px;
    width: 1000px;
    height: 50px;
    margin: 0 auto;
}
/* foursquare */

body.foursquare #toprow, #bottomrow { width: 100%;}
body.foursquare #middlerow { width: 100% }
body.foursquare #area1, #area2, #area5, #area6 { 
    width: 485px;
    height: 140px;
    float: left }
body.foursquare #area3, #area4 { width: 220px; float: left; min-height: 315px }
body.foursquare #area3 { margin-right: 530px }

/* cwtch */

body.cwtch #toprow, #bottomrow { width: 100%;}
body.cwtch #middlerow { width: 100%;}

body.cwtch #area1, body.cwtch #area4, body.cwtch #area5, body.cwtch #area8 {
    width: 220px;
    height: 284px;
    float: left;
     }

body.cwtch #area2, body.cwtch #area3, body.cwtch #area6, body.cwtch #area7 {
    width: 273px;
    height: 142px;
    float: left; }

body.cwtch #area1 { text-align: right; vertical-align: top }
body.cwtch #area2 { text-align: left; vertical-align: bottom }
body.cwtch #area3 { text-align: right; vertical-align: bottom }
body.cwtch #area4 { text-align: left; vertical-align: top }
body.cwtch #area5 { text-align: right; vertical-align: bottom; }
body.cwtch #area6 { text-align: left; vertical-align: top; margin-top: 142px}
body.cwtch #area7 { text-align: right; vertical-align: top; margin-top: 142px }
body.cwtch #area8 { text-align: left; vertical-align: bottom }

body.cwtch #area2 img,
body.cwtch #area3 img,
body.cwtch #area6 img,
body.cwtch #area7 img { height: 142px }

body.cwtch #area1 img,
body.cwtch #area4 img,
body.cwtch #area5 img,
body.cwtch #area8 img { height: 284px; max-width: 220px }

/*
#area1 { background: yellow }
#area2 { background: green }
#area3 { background: red }
#area4 { background: blue }
#area5 { background: blue }
#area6 { background: green }
#area7 { background: red }
#area8 { background: yellow }
*/
