html,
body {
      background-color: #000;
      width:100%;
      height:100%;
      margin: 0;
      overflow: hidden;
      font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

#floater { float: left; height: 50%; margin-bottom: -300px }

#contentlayer {
    clear: both;
    position: relative;
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    z-index: 10;
    color: #ccc;
    font-size: 75%;
}

#videolayer {
    width: 1000px;
    height: 600px;
    margin:0 auto;
    position: relative;
    top: -600px; 
    z-index: 20; /* changing this to '1' solves problem of flickr solo images being obscured by the vid, but it also makes the vid controls inaccessible :( */
    /* background: blue; */
}

#video, #novideo {
        
         width: 100%;
         height: 100%;

         /* float: left; */
         padding: 0;
         margin: 0;
/*
         min-width: 545px;
         min-height: 315px;
*/
        }

#video {  /* margin: 142px 220px */ }

#video object, #video iframe { margin: 142px 220px; padding: 0; width: 545px }


/* fullscreen */
body.fullscreen #floater { height: 45% }
body.fullscreen #videolayer { width: 1000px; height: 600px }
body.fullscreen #video { margin: 0}
body.fullscreen #video object, body.fullscreen #video iframe { margin: auto; padding: 0; width: 1000px; height: 600px }


#audio {
    position: absolute;
    top: -800px;
}

.target > * { display: none }

#attrib { 
          position: absolute;
          bottom: 6px;
          left: 10px;
          z-index: 25;
          font-size: 1.2em;
        }

/* carousel / slider */

#thumbdrawer {
    position: absolute; 
    z-index: 40;
    bottom: -100px; 
    width: 100%;
    height: 100px;
    min-height: 100px;
    background: #333; }

#thumbtab {
    color: #eee;
    cursor: pointer;
    position: relative;
    top: -20px; 
    margin: 0 auto;
    padding: 2px;
    background: #333;
    width: 200px;
    height: 30px;
    text-align: center;
    font-size: 0.8em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; /* future proofing */
    -khtml-border-radius: 5px; /* for old Konqueror browsers */}

#thumbs {
    position: relative;
    top: -40px;
    width: 1000px;
    height: 50px;
    margin: 0 auto;
}
	
/* Twitter foursquare */

body.foursquare #area1, #area2, #area5, #area6 { 
    width: 485px;
    height: 140px;
    float: left 
}

body.foursquare #area3, #area4 { 
	width: 220px;
	float: left;
	min-height: 315px 
}

body.foursquare #area3 { 
	margin-right: 530px 
}

/* Fade in Text */
body.foursquare #area7 { 
	width: 100%;
	position: absolute;
	text-align: center;
	top: 460px;
	font-size: 140%;
}


body.foursquare #area1 {
	font-family: 'Nixie One', cursive;
}

body.foursquare #area2 {
	font-family: 'PT Sans', sans-serif;
}

body.foursquare #area3 {
	font-family: 'Abril Fatface', cursive;
}

body.foursquare #area4 {
	font-family: 'Special Elite', cursive;
}

body.foursquare #area5 {
	font-family: 'Nixie One', cursive;
}

body.foursquare #area6 {
	font-family: 'PT Sans', sans-serif;
}

/* Fade-in text */
body.foursquare #area6 {
	font-family: 'Nixie One', sans-serif;
	font-size: 1.8em;
}


/* wordriver */

body.wordriver #contentlayer { /* z-index: 25 */ }

body.wordriver #area1 {
  position: absolute;
  font-size: 1.8em;
  width: 1200px;
  height: 50px;
}

body.wordriver .credits { margin: 0 auto; display: block;  text-align: center;  }

body.wordriver #area2 {
  position: absolute;
  top: 515px;
  left: 0;
  font-size: 1.8em;
  width: 100%;
}

/* Shep custom (for credits/attribution) */
body.wordriver #area3 {
  position: absolute;
  width: 100%;
  text-align: center;
}

/* Twitter babble */

body.babble #area1 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.8em;
  font-family: 'Nixie One', cursive;
  width: 600px;
}

body.babble #area2 {
  position: absolute;
  top: 200px;
  left: 250px;
  text-align: justify;
  font-size: 2em;
  font-family: 'PT Sans', sans-serif;
  width: 400px;
}

body.babble #area3 {
  position: absolute;
  top: 350px;
  left: 50px;
  font-size: 2em;
  font-family: 'Abril Fatface', cursive;
  width: 400px;
}

body.babble #area4 {
  position: absolute;
  top: 0;
  right: 20px;
  text-align: right;
  font-size: 1.8em;
  font-family: 'Special Elite', cursive;
  width: 600px;

}

body.babble #area5 {
  position: absolute;
  top: 300px;
  right: 0px;
  text-align: right;
  font-size: 2em;
  font-family: 'Nixie One', cursive;
  width: 300px;
}

body.babble #area6 {
  position: absolute;
  top: 300px;
  left: 350px;
  font-size: 1.8em;
  font-family: 'PT Sans', sans-serif;
  width: 400px;
}


/* cwtch */

body.cwtch .target span { font-size: 1em }

body.cwtch #area1 h2,
body.cwtch #area3 h2,
body.cwtch #area7 h2 { float: right }

body.cwtch #area2 h2,
body.cwtch #area4 h2,
body.cwtch #area5 h2,
body.cwtch #area6 h2,
body.cwtch #area8 h2 { float: left }

body.cwtch #toprow, #bottomrow { width: 100%;}
body.cwtch #middlerow { width: 100%;}

body.cwtch #area1, body.cwtch #area4, body.cwtch #area5, body.cwtch #area8 {
    width: 220px;
    height: 284px;
    float: left;
     }

body.cwtch #area2, body.cwtch #area3, body.cwtch #area6, body.cwtch #area7 {
    width: 273px;
    height: 142px;
    float: left; }

body.cwtch #area1 { text-align: right; vertical-align: top }
body.cwtch #area2 { text-align: left; vertical-align: bottom }
body.cwtch #area3 { text-align: right; vertical-align: bottom }
body.cwtch #area4 { text-align: left; vertical-align: top }
body.cwtch #area5 { text-align: right; vertical-align: bottom; }
body.cwtch #area6 { text-align: left; vertical-align: top; margin-top: 142px}
body.cwtch #area7 { text-align: right; vertical-align: top; margin-top: 142px }
body.cwtch #area8 { text-align: left; vertical-align: bottom }

body.cwtch #area2 div,
body.cwtch #area3 div,
body.cwtch #area6 div,
body.cwtch #area7 div, 
body.cwtch #area2 img,
body.cwtch #area3 img,
body.cwtch #area6 img,
body.cwtch #area7 img { height: 142px }

body.cwtch #area1 div,
body.cwtch #area4 div,
body.cwtch #area5 div,
body.cwtch #area8 div,
body.cwtch #area1 img,
body.cwtch #area4 img,
body.cwtch #area5 img,
body.cwtch #area8 img { height: 284px; max-width: 220px }


/* flickrsolo */

body.flickrsolo .target { z-index: 100 }

body .target h2 { display: block;
                  position: relative;
                  float: left;
                  bottom: 40px;
                  text-align: left;
                  font-size: 0.6em;
                  height: 10px;
                  padding: 5px;
                  margin: 5px;
                  background-color: #000 }

body.flickrsolo #area1 { 
    position: absolute;
    top: 142px;
    left: 0;
    height: 315px;
    width: 1000px;
    text-align: center;
     }

body.flickrsolo #area1 img { height: 315px; }

body.flickrsolo #area2 { 
    position: absolute;
    top: 0;
    left: 0;
    height: 600px;
    line-height: 600px;
    display: inline-block;
    }

body.flickrsolo #area2 img { width: 350px;
                             height: auto;
                             vertical-align: middle; } 
/* adusted height to auto from 600px to avoid distorting - revert if this doesn't work */

body.flickrsolo #area3 { 
    position: absolute;
    top: 0;
    right: 0;
    height: 600px; 
    line-height: 600px;
    display: inline-block;
    }

body.flickrsolo #area3 div, body.flickrsolo #area3 img{ width: 350px; height: auto; vertical-align: middle;}

body.flickrsolo #area4,
body.flickrsolo #area5,
body.flickrsolo #area6,
body.flickrsolo #area7,
body.flickrsolo #area8 { display: none}


/*
#area1 { background: yellow }
#area2 { background: green }
#area3 { background: red }
#area4 { background: blue }
#area5 { background: blue }
#area6 { background: green }
#area7 { background: red }
#area8 { background: yellow }
*/
