html,
body {
      background-color: #000;
      width:100%;
      height:100%;
      color: white;
      margin: 0;
      overflow: hidden;
}

#floater { float: left; height: 50%; margin-bottom: -250px }

#contentlayer {
    clear: both;
    position: relative;
    width: 800px;
    height: 500px;
    margin: 0 auto;
    z-index: 10;
}

#videolayer {
    width:800px;
    height: 500px;
    margin:0 auto;
    position: relative;
    top: -500px;
    z-index: 20;
}

/* foursquare */
body.foursquare #toprow, #bottomrow { width: 100%; margin: 0}
body.foursquare #middlerow { width: 100%; margin: 0}
body.foursquare #area1, #area2, #area5, #area6 { 
    margin: 0;
    width: 50%;
    height: 90px;
    float: left; }
body.foursquare #area3, #area4 { margin: 0; width: 130px; float: left; min-height: 315px }

/* cwtch */
body.cwtch #toprow, #bottomrow { width: 100%; margin: 0}
body.cwtch #middlerow { width: 100%; margin: 0}
body.cwtch #area1, #area2, #area5, #area6 {
    margin: 0;
    width: 50%;
    height: 90px;
    float: left; }
body.cwtch #area3, #area4 { margin: 0; width: 130px; float: left; min-height: 315px }


.target > * { display: none }

#video, #novideo {
         width: 540px; 
         height: 315px;
         float: left;
         margin: 0;
        }


#video { margin: 90px 130px }

#video object { width: 540px;
             /*   height: 315px */}

